@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  
  .projects {
    margin-left: 150px; /* Alignement à gauche de la section */
    background-color: #ffffff;
    opacity: 1; /* Masquer la section par défaut */
    transform: translateY(20px); /* Déplacer la section vers le bas par défaut */
    margin-right: 100px;
  }
  
  .projects.fadeInUp {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInUp 1s ease-out;
  }
  
  .projects-title {
    font-size: 2rem;
    margin-bottom: 40px; /* Ajusté pour correspondre à la hauteur du titre */
    color: rgb(58, 97, 176);
  }
  
  .projects-container {
    display: flex;
    flex-direction: column; /* Dispose les éléments en colonne pour les séparer */
  }
  
  .project-card {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    margin-bottom: 40px; /* Espacement entre les projets */
    
  }
  
.project-image {
    width: 100%; /* Ajustez la largeur selon vos besoins */
    max-width: 500px; /* Largeur maximale de l'image */
    height: auto; /* Maintient le ratio de l'image */
    border-radius: 8px; /* Coins arrondis pour les images */
    margin-top: 10px; /* Ajoute un espacement au-dessus de l'image */
    margin-left: 400px;
  }
  
  .projects-title {
    font-size: 2rem;
    margin-bottom: 40px;
    color: rgb(58, 97, 176);
    position: relative;
    text-align: center;
    display: inline-block;
  }
  
  .projects-title::before,
  .projects-title::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 3px;
    background-color: rgb(58, 97, 176);
  }
  
  .projects-title::before {
    left: -100px;
    width: 80px; /* Longueur de la ligne gauche */
  }
  
  .projects-title::after {
    right: -1090px;
    width: 1050px; /* Longueur de la ligne droite, plus longue que la gauche */
  }
  
  