/* src/components/AboutMe.css */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Assurez-vous que le loader occupe toute la hauteur de la vue */
}

.about-me {
  padding: 60px 0;
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-me-image {
  width: 40%;
  height: auto;
  margin-right: 20px;
}

.about-me-text {
  width: 55%;
}

.about-me h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0056b3;
}

.about-me p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}

.section-title {
  color: #007bff;
  font-size: 2rem;
  font-weight: bold;
}
